@import "_variables.styl"
@import "_functions.styl"

.vue-phone-input__wrapper
  flex(row)
  font-size()
  component()

  input
    background transparent
    border none
    width 100%

    [name="phone_number"].is-valid
      colorize('green', true)

    &[name="phone_number"]:not(.is-valid)
      colorize('red', true)

  div
    position relative
    flex-flow 1

    div
      flex(row)
      colorize('text')
      align-items center
      font-style italic
      text-align center
      min-width 42px
      width 42px
      height min-height

    input
      height min-height
      min-height min-height
      outline none

    .list-wrapper
      box-shadow 2px 3px 10px -2px
      position absolute
      height min-height + list-options-height
      top 100%
      width 100%

      input, ul
        flex(column)
        margin 0
        padding 0
        width list-width

      ul
        colorize('grey', true)
        font-style italic
        list-style-type none
        margin-block-end unset
        margin-block-start unset
        height list-options-height
        overflow auto
        padding-inline-end unset
        padding-inline-start unset
        margin 0
        position absolute
        z-index 10

        li
          flex(row)
          text-align start
          height 42px
          min-height 42px
          padding 0 5px

          span.flag
            align-self center

          span:nth-child(2)
            flex(column)

            span:last-child
              font-size 10px

          &.active
            colorize('active', true)

        li:hover
          colorize('grey', true)
          cursor pointer

  .list-enter-active, .list-leave-active, .list-move
    transition all .5s cubic-bezier(.55, 0, .1, 1)

  .list-enter
    opacity 0
    transform scale(0)

  .list-leave-active
    opacity 0
    position absolute
    transform scale(0)

  .slide-fade-enter-active, .slide-fade-leave-active, .slide-fade-move
    transition all .3s ease

  .slide-fade-enter
    transition all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0)

  .slide-fade-active
    transform translateX(10px)
    opacity 0
