.vue-phone-input__wrapper
  flex(row)
  font-size()
  component()
  elevate(10)

  input
    background transparent
    border none

    [name="phone_number"].is-valid
      colorize('green', true)

    &[name="phone_number"]:not(.is-valid)
      colorize('red', true)

  div
    position relative
    flex-grow 1

    div
      flex(row)
      colorize('text')
      align-items center
      font-style italic
      text-align center
      min-width 42px
      width 42px
      height min-height

    input
      height min-height
      min-height min-height
      outline none

    .list-wrapper
      box-shadow 2px 3px 10px -2px
      position absolute
      height min-height + list-options-height
      top 100%
      width 100%

      input, ul
        flex(column)
        margin 0
        padding 0
        width list-width

      input::placeholder
              {placeholder}

      span.clearable
        align-self center
        flex-grow 1
        padding 0 5px
        opacity .4

        &:hover
          opacity 1
          cursor pointer

      ul
        colorize('grey', true)
        font-style italic
        list-style-type none
        margin-block-end unset
        margin-block-start unset
        height list-options-height
        overflow auto
        padding-inline-end unset
        padding-inline-start unset
        margin 0
        position absolute
        z-index 10

        li
          flex(row)
          text-align start
          height 42px
          min-height 42px
          padding 0 5px

          span.flag
            align-self center
            font-size 1.15
            padding 0 10px 0 0

          span:nth-child(2)
            flex(column)

            span:last-child
              font-size .65

          &.active
            colorize('active', true)

        li:hover
          colorize('grey', true)
          cursor pointer
